extends layout

block content
  h1= title
  ul
    each bike_src in bikes
      - price = Math.round(Math.random()*100)
      li.bike
        img(src='/images/bikes/'+bike_src)
        a.buy(href='/cart') Buy me! $#{price}